:root {
    --clr-dark-primary: #0059B8;
  }

.bg-fundo{
    background-color: var(--clr-dark-primary);
}

.tamanho{
  min-height: 100vh;
}

.map{
  aspect-ratio: 2/1;
  width: 100%;
}

@media (max-width: 560px) {
  .map{
    width: 88vw;
  }
}